{% extends "base.html" %}

{% block htmlhead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
/**
 * "dashboard" widgets scripts for home page
 */ 

// add new content

function addmsg(type, msg){
    /* Simple helper to add a div.
    type is the name of a CSS class (old/new/error).
    msg is the contents of the div */
    $("#resolved").prepend(
        "<li class=\'msg "+ type +"\'>"+ msg +"</li>"
    ).fadeIn(100);
}

function waitForData(){
    /* This requests the url /data/resolved
    When it complete (or errors) */
    $.ajax({
        type: "GET",
        url: "/data/resolved",

        async: true, /* If set to non-async, browser shows page as "Loading.."*/
        cache: false,
        timeout:50000, /* Timeout in ms */

        success: function(data){ /* called when request completes */
            data = JSON.parse(data);
            for (var i=0;i<data.msgs.length;i++) {
               var msg=data.msgs[i];
               addmsg("new", msg.url.url); /* Add response to a .msg div (with the "new" class) */
            }
            setTimeout(
                'waitForData()', /* Request next message */
                1000 /* ..after 1 seconds */
            );
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            console.log("error", textStatus + " (" + errorThrown + ")");
            setTimeout(
                'waitForData()', /* Try again after.. */
                2000 /* milliseconds (2 seconds) */
            );
        },
    });
};

$(document).ready(function(){
    waitForData(); /* Start the initial request */
});
        
</script>
{% endblock %}

<h1>{{ title }}</h1>

{% block content %}

<form action="/make" method="POST">
Shorten: <input type="text" name="url" id="url" /> <input type="submit" name="Save" />
</form>

<hr>

{%if urls %}
<ul>
{% for url in urls %}
  <li><a href="/{{url.shorturl}}">{{ url.url }}</a> | <a
  href="/{{url.shorturl}}.html">data</a> | <a href="/{{url.shorturl}}.json">json</a>
      {% if url.stats.hitcount %} ({{ url.stats.hitcount }}){% endif %}</li>
{% endfor %}
</ul>
{% endif %}

<section id="recent">
<h3>Recent Clicks</h3>
<ul id="resolved">
</ul>
</section>
{% endblock %}