{% extends "base.html" %}

{% block htmltitle %}nd shorts: {{ title }}{% endblock %}

{% block htmlhead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8" src="/dash.js"></script>
{% endblock %}

{% block content %}

{% include 'form.html' %}

<section id="urls">
<h3>Shortened URLs</h3>
{%if urls %}
<ul>
{% for url in urls %}
  <li><a href="/{{url.shorturl}}">{{ url.url }}</a>
      <br />
      <a href="/{{url.shorturl}}.html">data</a> |
      <a href="/{{url.shorturl}}.json">json</a>
      {% if url.stats.hitcount %} ({{ url.stats.hitcount }}){% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}
</section>

<section id="recent">
<h3>Recent Clicks</h3>
<ul id="resolved">
</ul>
</section>
{% endblock %}